body{
    margin: 0px;
    padding: 0px;
}
header h1{
    color:  #ff3982;
    display: inline-block;
    margin: 0px;
    padding: 20px 700px 20px 90px;
}
header a{
    color: black;
    text-decoration: none;
    margin: 0px;
    padding: 20px;
}
header a:last-child{
    border-radius: 50px;
    color: white;
    padding: 5px 25px;
    background-color: #ff3982;
}
#container {
    position: relative;
    color: white;
    /* margin: 0px 90px; */
    background-color: #ff3982;
    /* overflow: hidden; */
}  
#container img{
    width: 1350px;
    height: 400px;
    opacity: 0.5;
}
#container p{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 25;
}
#container p:nth-child(2){
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 35%;
    z-index: 25;
}
#container a{
    position: absolute;
    text-decoration: none;
    border-radius: 20px;;
    padding: 5px 20px;
    background-color: white;
    top: 60%;
    left: 42%;
    color: #ff3982;
    z-index: 25;
}
#about{
    display: inline-block;
}
.big{
    font-size: 25px;
    color:  #ff3982;
    margin-top: 0px;
    margin-bottom: 15px;
}
.content-box a{
    background-color: #ff3982;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
}
.content-box{
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left: 200px;    
}
.image{
    width: 30%;
    opacity: 25px;
    margin-top: 100px;
    margin-left: 200px;   
}
.image img{
    position: absolute;
    float: left;
    z-index: -1;
    left: 58%;
    border-radius:  0 150px 150px 0;
}
.d{
    border: 4px solid #ff3982;
    position: relative;
    width: 200px;
    z-index: 2;
    height: 159px;
    float: left;
    margin-top: 60px;
    margin-left: 200px; 
    border-radius:  50px 150px 150px 50px;
}
#features{
    margin-top: 50px;
    text-align: center;
}
#features div{
    float: left;
    width: 200px;
    margin-left: 15%;
    margin-bottom: 30px;
}
#features div span{
    font-size: 14px;
}
.fa{
    color: #ff3982;
}
.images{
    width: 50%;
    margin-top: 100px;
    margin-left: 200px;   
}
.images img{
    position: absolute;
    float: left;
    z-index: -1;
    left: 14%;
    border-radius: 0 150px 150px 0;
}
.ds{
    border: 4px solid #ff3982;
    position: relative;
    width: 200px;
    z-index: 2;
    height: 159px;
    float: left;
    margin-top: 60px;
    margin-left: 200px; 
    border-radius:  50px 150px 150px 50px;
}
.content-box1{
    width: 30%;
    margin-left: 700px;    
}
#dashboard{
    margin-top: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: lightblue;
}
#dashboard p:nth-of-type(2){
    margin-top: 20px;
    margin-bottom: 0px;
}
#reviews{
    margin-top: 20px;
    text-align: center;
}
#reviews p{
    margin-left: 35%;
    padding: 0;
    text-align: center;
    width: 380px;
    font-size: 28px;
}
#reviews p span{
    color: #ff3982;
}
#reviews div{
    border: 1px solid lightgray;
    width: 320px;
    height: 300px;
    float: left;
    margin-left: 7%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
#reviews div:last-child{
    margin-right: 50px;
}
.inner{
    display: block;
    margin: 20px;
}
.la{
    border: 2px solid black;
    border-radius: 150px;
    padding: 10px;
}

